modules/cost_management/logic_app_template.json
{
	"$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"workflow_name": {
			"defaultValue": "workflow",
			"type": "String"
		},
		"send_to": {
			"type": "String"
		},
		"cc": {
			"type": "String"
		},
		"cost_management_export_name": {
			"type": "String"
		},
		"cost_management_storage_container": {
			"type": "String"
		},
		"cost_management_storage_root_folder": {
			"type": "String"
		}
	},
	"variables": {},
	"resources": [{
			"type": "Microsoft.Web/connections",
			"apiVersion": "2016-06-01",
			"name": "office365",
			"location": "westeurope",
			"kind": "V1",
			"properties": {
				"displayName": "email-connection",
				"customParameterValues": {},
				"api": {
					"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
				}
			}
		},
		{
			"type": "Microsoft.Web/connections",
			"apiVersion": "2016-06-01",
			"name": "azureblob",
			"location": "westeurope",
			"kind": "V1",
			"properties": {
				"displayName": "azure-blob-connection",
				"customParameterValues": {},
				"api": {
					"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azureblob')]"
				}
			}
		}, {
			"type": "Microsoft.Logic/workflows",
			"apiVersion": "2017-07-01",
			"name": "[parameters('workflow_name')]",
			"location": "westeurope",
			"dependsOn": [
				"[resourceId('Microsoft.Web/connections', 'azureblob')]",
				"[resourceId('Microsoft.Web/connections', 'office365')]"
			],
			"properties": {
				"state": "Enabled",
				"definition": {
					"$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
					"contentVersion": "1.0.0.0",
					"parameters": {
						"$connections": {
							"defaultValue": {},
							"type": "Object"
						},
						"$email_properties": {
							"defaultValue": {},
							"type": "Object"
						}
					},
					"triggers": {
						"Every_month": {
							"recurrence": {
								"frequency": "Month",
								"interval": 1,
								"startTime": "2021-02-02T15:00:00Z"
							},
							"type": "Recurrence"
						}
					},
					"actions": {
						"Get_last_blob_content": {
							"inputs": {
								"host": {
									"connection": {
										"name": "@parameters('$connections')['azureblob']['connectionId']"
									}
								},
								"method": "get",
								"path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(last(body('List_blobs')['value'])?['Path']))}/content",
								"queries": {
									"inferContentType": true
								}
							},
							"runAfter": {
								"List_blobs": [
									"Succeeded"
								]
							},
							"type": "ApiConnection"
						},
						"List_blobs": {
							"inputs": {
								"host": {
									"connection": {
										"name": "@parameters('$connections')['azureblob']['connectionId']"
									}
								},
								"method": "get",
								"path": "/datasets/default/foldersV2/@{encodeURIComponent(encodeURIComponent(parameters('$email_properties')['storage_folder']))}",
								"queries": {
									"nextPageMarker": "",
									"useFlatListing": true
								}
							},
							"metadata": {},
							"runAfter": {},
							"type": "ApiConnection"
						},
						"Send_an_email": {
							"inputs": {
								"body": {
									"Attachments": [{
										"ContentBytes": "@{base64(body('Get_last_blob_content'))}",
										"Name": "Kosten overzicht.csv"
									}],
									"Body": "<p>Bijgevoegd is het kostenoverzicht voor de betreffende resource group van de afgelopen maand.</p>",
									"Cc": "@{parameters('$email_properties')['cc']}",
									"Subject": "@parameters('$email_properties')['subject']",
									"To": "n.griffioen@vwt.digital"
								},
								"host": {
									"connection": {
										"name": "@parameters('$connections')['office365']['connectionId']"
									}
								},
								"method": "post",
								"path": "/v2/Mail"
							},
							"runAfter": {
								"Get_last_blob_content": [
									"Succeeded"
								]
							},
							"type": "ApiConnection"
						}
					},
					"outputs": {}
				},
				"parameters": {
					"$connections": {
						"value": {
							"azureblob": {
								"connectionId": "[concat('/subscriptions/', subscription().subscriptionId,'/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/connections/azureblob')]",
								"connectionName": "azureblob",
								"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azureblob')]"
							},
							"office365": {
								"connectionId": "[concat('/subscriptions/', subscription().subscriptionId,'/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/connections/office365')]",
								"connectionName": "office365",
								"id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
							}
						}
					},
					"$email_properties": {
						"value": {
							"to": "[parameters('send_to')]",
							"cc": "[parameters('cc')]",
							"subject": "[concat('Azure DAN-platform kostenoverzicht -', resourceGroup().name)]",
							"storage_folder": "[concat('/', parameters('cost_management_storage_container'), '/', parameters('cost_management_storage_root_folder'), '/', parameters('cost_management_export_name'), '/')]"
						}
					}
				}
			}
		}
	]
}
